body{ 
        font-family: 'Source Serif Pro', serif;
        background-color: #369097;
        background-image: url(../img/fondo.svg);
        background-attachment: fixed;
        background-size: cover;
}

    .header{ 
       border: solid lightblue;
    }

        .tituloH1Index { 
            text-align: center;
            letter-spacing: 10px;
            font-size: 3em;                          
        }

        .tituloH1ColocarSlackLine { 
            text-align: center;
            letter-spacing: 0px;
            font-size: 3em;                    
        }

        .menuNav { 
            display: flex;
            flex-flow: nowrap;    
            background-color: rgba(85, 181, 213, 0.228);
            justify-content: space-around;
            border: solid rgb(147, 224, 250);
            margin: 25px;
            padding: 10px 5px;
            font-weight:900;
            align-items: center;
            box-shadow: 20px 20px 20px 0 black; 
            -webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
        }

        .menuNavLogo { 
            max-width: 50px;
            filter: brightness(1);
            justify-content: left;                       
        }
        
        .navEnlace{
            text-decoration: none;
        }

        .navEnlace:hover{ 
            font-size: x-large;
            font-weight: 800;
            text-decoration:underline;
        }

    .imagenesIndex{ 
            display: grid;
            grid-template-columns: 1fr 1fr;   
            justify-items: center;
            align-items: center;
            gap:10px; 
            }

        .indexImg1, .indexImg2{ 
            width: 100% ;
            height:100%;
            border-radius: 5%;
            -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        
        }
    .textoIndex{ 
        font-size: 1.2em;
        font-weight:bold;
        letter-spacing: 1.2px;
        padding: 10px;
        margin: 10px;
    }

        .textoIndexTextoIntroductorio { 
            background-color:  rgb(197, 101, 60);
        }

    .footer{ 
        display: flex;
        flex: 1 1 auto;
    }

        .footerLogo{             
            flex: 1 1 auto;
            max-width: 50px;
            filter: brightness(1);
            mix-blend-mode: multiply;
            border-radius: 10%;   
            padding: 10px;
            margin-top: 20px;
            margin-left: 20px;
        }
        
        .footerCopyRights{ 
            flex: 5 1 auto;
            text-align: right;
            text-decoration:overline;
            padding: 10px;
            margin-top: 20px;
            margin-left: 20px;
            font-weight:bold;
        }
        
        .padreMedia{ 
            display: flex;
            flex-direction: column;     
            margin: 10px;
            align-items: center;                       
        }

                .mediaImgColocarSlack { 
                    filter: brightness(.8);
                    mix-blend-mode: multiply;            
                }
        
                .mediaVideoColocarSlack{ 
                   margin: 10px;
                    width: 1000px;
                    height: 500px;
                }

.encuesta {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.titulosH2TiposdeSlacks{ 
    margin: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.parrafoTiposDeSlacks{ 
    font-weight: bold;
}

.videoTiposdeSlackLine { 
    text-align: center; 
}

.videoTypes{ 
    width: 1000px;
    height: 300px;
}

        .imagenesGaleria{ 
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            align-items: center;
            gap:10px;      
        }   
        
            .imagenesGaleriaHijo{ 
                width: 60% ;
                height:60% ;
                border-radius: 0%;
                box-shadow: 10px 10px 10px 0 rgb(37, 131, 131);
                transition: all 2s;
                }
        
                    .imagenesGaleriaHijo:hover{ 
                        width: 100% ;
                        height:100% ;
                        border-radius: 30%;
                        box-shadow: 20px 20px 20px 0 black;
                        }
                
.padreContacto{  
    display: flex;
    justify-content: space-around;
    align-items: center;
   box-shadow:  20px 20px 20px 0 black;
   margin: 40px;   
}

        .slackLifeIcono{            
            padding: 10px;
            margin: 10px;
            filter: brightness(1);
            mix-blend-mode: multiply;
            text-align: center;    
        }

        .formularioContacto{   
            padding: 10px;
        }

.datosPersonalesTexto { 
    font-weight:bold;
    margin: 15px;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-5-27 9:46:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 
 @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  
@media screen and (max-width:768px){ 
        
                .menuNav{ 
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center; 
                }

                .menuNavLogo{
                    padding: 10px;
                }
                
                .imagenesIndex{
                    grid-template-columns:1fr;  
                }

                .imagenesIndex,.indexImg2 { 
                    width: 100%;
                    height: 100%;
                }

                .footer {
                    flex-direction: column;
                    justify-content: space-between;
                    justify-items: center;
                    align-items: center;
                }

                .imagenesGaleria{
                    display: grid;
                    grid-template-columns: 1fr;   
                    justify-items: center;
                    align-items: center;
                    gap:10px;
                    border-radius: 10%;
                }

                .mediaImgColocarSlack  { 
                    width: 100%;
                    height: 100%;
                    
                }

                .mediaVideoColocarSlack{ 
                    width: 100%;
                    height: 100%;
                    
                }

                .titulosH2TiposdeSlacks{ 
                    text-align: center;
                }

                .parrafoTiposDeSlacks {
                    text-align: center;
                }
                
                .videoTypes{ 
                    width: 100%;
                    height: 100%;
                }

                .padreContacto{
                flex-direction: column;  
                }

                .slackLifeIcono { 
                    transform: scale(.4);
                }
 }

        

    @media screen and (max-width:480px){ 
                              
       

}
     



